

<div class="events delete">
  <h2>Delete event</h2>

  <%= form_for(@household, method: :delete) do |f| %>


    <p>You sure you want to delete the event?</p>

    <div class="form-buttons">
      <%= f.submit("Delete event") %>
      <%= link_to 'Cancel', households_path %>
    </div>

  <% end %>
</div>
